@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* @font-face {
  font-family: OpenSans;
  src: url(./OpenSans-VariableFont_wdth\,wght.ttf);
} */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;

  nav {
    display: flex;
    gap: 1rem;
    a {
      text-decoration: none;
      font-weight: 700;
      color: black;
    }
  }
}

#section1 {
  background-color: #f1bb13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .container {
    width: 100%;
    display: flex;
    align-items: center;
  }
  img {
    width: 50%;
  }
  a {
    color: #34365a;
  }
  p {
    padding-top: 1rem;
    font-size: 1rem;
    a {
      color: black;
      font-size: 1rem;
    }
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  button {
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #34365a;
    border: none;
    color: white;
    font-weight: 600;
    button&:hover {
      background-color: white;
      color: black;
      cursor: pointer;
    }
  }
}

#section2 {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 75%;
    .upper {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      h2 {
        font-weight: 900;
        font-size: 2rem;
      }
      p {
        font-weight: 400;
      }
    }
    .lower {
      margin-top: 2rem;
      display: flex;
      flex-wrap: wrap;
      .son {
        width: 50%;
        background-color: yellow;
        background-size: cover;
      }
      .yellow {
        background-color: #f1bb13;
      }
      .blue {
        background-color: #34365a;
      }
      .box2 {
        padding: 2rem;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h2 {
          font-weight: 700;
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
          font-weight: 600;
        }
        button {
          width: 40%;
          padding: 1rem 2rem;
          border-radius: 2rem;
          background-color: transparent;
          color: #34365a;
          font-weight: 600;
          border: #34365a 2px solid;
          font-size: 15px;
          button&:hover {
            background-color: white;
            color: black;
            cursor: pointer;
          }
        }
      }
      .box3 {
        padding: 3rem;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;

        gap: 2rem;
        h2 {
          font-weight: 700;
          font-size: 2rem;
          color: white;
        }
        p {
          font-size: 1rem;
          color: white;
          font-weight: 600;
        }
        button {
          width: 40%;
          padding: 1rem 2rem;
          border-radius: 2rem;
          background-color: transparent;
          color: white;
          font-weight: 600;
          border: 2px white solid;
          font-size: 15px;
          button&:hover {
            background-color: white;
            color: black;
            cursor: pointer;
          }
        }
      }
      .box6 {
        padding: 3rem;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        h2 {
          font-weight: 700;
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
          font-weight: 600;
        }
        button {
          width: 40%;
          padding: 1rem 2rem;
          border-radius: 2rem;
          background-color: transparent;
          border: #34365a 2px solid;
          color: #34365a;
          font-weight: 600;
          font-size: 15px;
          button&:hover {
            background-color: white;
            color: black;
            cursor: pointer;
          }
        }
      }
    }
  }
}

#section3 {
  margin: 2rem 0 0 0;
  padding: 4rem;
  width: 100%;
  height: 120vh;
  background-color: #34365a;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 1;
  align-items: center;
  h2 {
    font-weight: 700;
    font-size: 3rem;
  }
  p {
    font-size: 1.2rem;
    text-align: center;
    width: 50%;
  }
  .buttons {
    display: flex;
    width: 30%;
    justify-content: space-between;
    gap: 1rem;
    .btn1 {
      width: 50%;
      padding: 1rem 2rem;
      border-radius: 2rem;
      background-color: transparent;
      color: white;
      font-weight: 600;
      border: 2px white solid;
      font-size: 15px;
      button&:hover {
        background-color: white;
        color: black;
        cursor: pointer;
      }
    }
    .btn2 {
      width: 50%;
      padding: 1rem 2rem;
      border-radius: 2rem;
      background-color: transparent;
      color: white;
      font-weight: 600;
      border: 2px white solid;
      font-size: 15px;
      button&:hover {
        background-color: white;
        color: black;
        cursor: pointer;
      }
    }
  }
}

#section4 {
  width: 100%;
  /* height: 200vh; */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  .container {
    width: 60%;
    height: 110vh;
    margin-top: -400px;
    z-index: 10;
    .photo {
      width: 100%;
      height: 100%;
      background-image: url(./ddd.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      .pos {
        background-color: white;
        width: 50%;
        position: absolute;
        right: -15rem;
        top: 10rem;
        .content {
          padding: 2rem;
          h2 {
            font-weight: 700;
            font-size: 3rem;
          }
          p {
            font-size: 1rem;
            margin-top: 1rem;
            font-weight: 600;
            a {
              color: black;
            }
          }
          button {
            width: 200px;
            margin-top: 1rem;
            padding: 1rem 2rem;
            border-radius: 2rem;
            background-color: #34365a;
            border: none;
            color: white;
            font-weight: 600;
            button&:hover {
              background-color: #f1bb13;
              color: #34365a;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

#section5 {
  margin-top: 4rem;
  padding: 0 3rem;
  height: 65vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  .icon {
    background-color: #f1bb13;
    height: 20vh;
    width: 10%;
    border-radius: 100rem;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: -20px;
    }
    .content {
      position: absolute;
      top: 200px;
      h2 {
        font-weight: 700;
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
}

#section6 {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  .container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    .left {
      width: 50%;
      height: 100%;
      .shape {
        width: 75%;
        background-color: #f1bb13;
        height: 10%;
        border-radius: 0 0 40px 40px;
        padding: 2rem;
        h2 {
          font-weight: 700;
          font-size: 2.2rem;
          margin-top: 1rem;
        }
        p {
          margin-top: 1rem;
          font-size: 1rem;
          font-weight: 600;
          letter-spacing: 5px;
        }
      }
      p {
        margin-top: 2rem;
        margin-right: 1rem;
        font-size: 1rem;
        font-weight: 500;
        a {
          color: black;
        }
      }
      button {
        width: 35%;
        height: 50px;
        margin-top: 2rem;
        padding: 1rem 2rem;
        border-radius: 2rem;
        background-color: #34365a;
        border: none;
        color: white;
        font-weight: 600;
        button&:hover {
          background-color: #f1bb13;
          color: #34365a;
          cursor: pointer;
        }
      }
    }
    .right {
      width: 50%;
      height: 100%;
      padding: 2rem;
      .shape {
        width: 205px;
        height: 205px;
        background-color: #f1bb13;
        border-radius: 100rem;
        background-image: url(./43245.jpg);
        background-size: cover;
      }
      .upper {
        display: flex;
        .icon {
          margin-top: 2rem;
          width: 105px;
          height: 60px;
          background-color: #34365a;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 65%;
            height: 65%;
          }
        }
        .talk {
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
          margin-left: 2rem;
          h2 {
            letter-spacing: 3px;
            font-weight: 700;
            font-size: 1.5rem;
          }
          p {
            margin-top: 2rem;
            font-size: 1rem;
            font-weight: 500;
          }
        }
      }
      .lower {
          margin-top: 4rem;
          display: flex;
        .icon {
          margin-top: 2rem;
          width: 105px;
          height: 60px;
          background-color: #34365a;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 65%;
            height: 65%;
          }
        }
        .talk {
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
          margin-left: 2rem;
          h2 {
            letter-spacing: 3px;
            font-weight: 700;
            font-size: 1.5rem;
          }
          p {
            margin-top: 2rem;
            font-size: 1rem;
            font-weight: 500;
          }
      }
    }
  }
}
}


#section7 {
  width: 100%;
  background-color: #f1bb13;
  display: flex;
  justify-content: center;
  align-items: center;
  .container{
    display: flex;
    width: 100%;
    .photo{
      background-image: url(./clock-min.png);
      background-size: cover;
      width: 40%;
      background-repeat: no-repeat;
    }
    .left{
      width: 60%;
      padding: 100px; 
      .space{
        letter-spacing: 8px;
      }
      h2{
        font-weight: 700;
        font-size: 3.5rem;
      }
      p{
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 500;
        a{
          color: black;
        }
      }
      button{
        width: 200px;
        margin-top: 1rem;
        padding: 1rem 2rem;
        border-radius: 2rem;
        background-color: #34365a;
        border: none;
        color: white;
        font-weight: 600;
        button&:hover {
          background-color: white;
          color: black;
          cursor: pointer;
        }
      }
    }
  }
}